<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trankaso - Login</title>
    <link rel="stylesheet" href="./public/css/login.css">
    <script type="module" src="./public/js/login.js"></script>
</head>

<body>
    <main>
        <input type="text" name="user" id="user_inp" placeholder="Usuario">
        <input type="password" name="passwd" id="passwd_inp" placeholder="Contraseña">
        <button type="button" class="login_btn">
            <span>Iniciar Sesión</span>
        </button>
    </main>
</body>

</html>